      <% @posts.each do |post| %>
      <%= link_to post.title, post_path(post)  %> by
      <br><br>
      <%= image_tag post.image.url(:standard) %>


    <hr>

      <ul class="list-inline">
        <% post.tags.each do |tag| %>
        <li class="index-tags"><%= tag.name %>

          <% if current_user && current_user.admin? %>
          <%= link_to edit_tag_path(tag) do %>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <% end %>

          <%= link_to tag_path(tag), id: "delete-tag", data: { confirm: "Delete this tag?", method: "delete"} do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </li>
    </ul>
    <% end %>
    <% end %>
